<p><%= post.escape('created_at') %> ago</p>
<img src="<%= post.author_details().escape('thumbnail_img_url') %>">
<% if (post.escape('author_id') === post.escape('timeline_id')) { %>
  <a href="/#/profiles/<%= post.escape('author_id') %>"><%= post.author_details().escape('username') %></a>
<% } else { %>
  <a href="/#/profiles/<%= post.escape('author_id') %>"><%= post.author_details().escape('username') %></a> >
  <a href="/#/profiles/<%= post.escape('timeline_id') %>"><%= post.escape('receiver_name') %></a>
<% } %>

<div class="post-change-buttons">
  <% if (post.escape('author_id') == Spacebook.CURRENT_USER_ID) { %>
    <div class="post-change-buttons">
      <button class="post-edit-button">Edit</button>
      <button class="post-delete-button">Delete</button>
  <% } %>
</div>
