<nav class="navbar navbar-default root" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand root" href="#/profiles/<%= Spacebook.CURRENT_USER_ID %>">S</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse root" id="bs-example-navbar-collapse-1">
    <div class="col-sm-6 col-md-6">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control search-form" placeholder="Find your friends" name="username">
            <div class="input-group-btn">
                <button class="btn btn-default search-form-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
    <ul class="nav navbar-nav menu-root">
      <li>
          <a href="#/profiles/<%= Spacebook.CURRENT_USER_ID %>" class="thumbnail-link"><img src="<%= Spacebook.CURRENT_USER_TINY_THUMB_URL %>" /></a>
          <a href="#/profiles/<%= Spacebook.CURRENT_USER_ID %>" class="username-link"><%= Spacebook.CURRENT_USER_NAME %></a>
      </li>
      <li><a href="#/feeds/<%= Spacebook.CURRENT_USER_ID %>">Feed</a></li>
      <li><a href="#">Notifications</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <form action="/session" method="post" class="logout-form">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= $("meta[name=csrf-token]").attr("content") %>">
        <button type="submit" class="btn btn-primary root">Sign Out</button>
      </form>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
