<div class="profile-header profile"></div>
<div class="profile-sidebar profile"></div>
<div class="profile-content profile"></div>

<h2>About <%= user.escape('username') %></h2>
<ul class="about-user">
  <li>Birthday: <%= user.escape('birthday') %></li>
  <li>Interests: <%= user.escape('interests') %></li>
  <li>Home Planet: <%= user.escape('home_planet') %></li>
  <li>Planet of Birth: <%= user.escape('planet_of_birth') %></li>
</ul>
